## Assignment TWO: Database management with SQL Magic (MySQL)

Student Name and email

### TASK 01) Create The Database in MySQL (5%)

Use MySQL (phpMyAdmin)

Download and install (If you have not already) and Imporing required packages

In [ ]:
<Complete the code>
<Complete the code>

### TASK 02) Connect your Jupyter Notebook to MySQL server (5%)
#### Load the ipython-sql Extension
First, you need to load the SQL magic functionality using the %load_ext magic command. This will allow you to use SQL commands directly in your notebook cells.

In [ ]:
<Complete the code>

#### Connect to the Database
After loading the extension, you need to establish a connection to the database.</br>
The format of the connection string depends on the database you're working with. </br>
Below is the format for connection string to connect to MySQL:

`%sql mysql://username:password@hostname:port/dbname`
* username: Your MySQL username
* password: Your MySQL password
* hostname: The host where your MySQL database is running (e.g., `localhost` if it's local, or the server's `IP`)
* port: MySQL's port number, usually 3306
* dbname: The name of the MySQL database you're connecting to

In [ ]:

%sql mysql://<user_name>:<password>@<host_name>:<port>/<database_name>

### Task 3) Create tables (7.5%)

In [ ]:
%%sql
# Table Name: STUDENTS (0%)
CREATE TABLE IF NOT EXISTS STUDENTS ( 
Student_ID			INT NOT NULL PRIMARY KEY,
Student_Birthdate	DATETIME,
Student_First_Name	VARCHAR(32),
Student_Last_Name	VARCHAR(32),
Student_email		VARCHAR(32),
Student_Gender		VARCHAR(6),
Student_Citizenship	VARCHAR(16)
);


# Table Name: INSTRUCTORS (0%)
CREATE TABLE IF NOT EXISTS INSTRUCTORS ( 
Instructor_code			INT NOT NULL PRIMARY KEY,
Instructor_First_Name	VARCHAR(32),
Instructor_Last_Name	VARCHAR(32),
Instructor_Area			VARCHAR(32),
Instructor_School		VARCHAR(32),
Student_email			VARCHAR(32)

);

# Table Name: COURSES (2.5%)
CREATE TABLE IF NOT EXISTS COURSES ( 
    <Complete the code>
    <Complete the code>
    <Complete the code>
    <Complete the code>
);

#Table Name: GRADES (5%)
CREATE TABLE IF NOT EXISTS GRADES ( 
    <Complete the code>
    <Complete the code>
    <Complete the code>
    <Complete the code>
);

### Task 4) Altering tables  (2.5%)

In [ ]:
%%sql

ALTER TABLE <Complete the code> CHANGE COLUMN <Complete the code> <Complete the code> <Complete the code>

### Task 5) Insert Values (0%)
Make sure that you run the code below!

In [ ]:
%%sql

INSERT INTO STUDENTS(Student_ID, Student_Birthdate, Student_First_Name, Student_Last_Name, Student_email, Student_Gender, Student_Citizenship) VALUES
    (2673, '2004-08-19', 'Chris', 'Adams', 'adamsc.mcmaster.ca', 'Male', 'Canada'),
    (2889, '2003-12-24', 'Muhammad', 'Bakar', 'bakarm@mcmaster.ca', 'Male', 'Egypt'),
    (3108, '2002-02-09', 'Yuki', 'Nakamura', 'nakamuray@mcmaster.ca', 'Female', 'Japan'),
    (3330, '2001-06-02', 'Carlos', 'Mendoza', 'mendozac@mcmaster.ca', 'Male', 'Spain'),
    (3555, '2000-05-06', 'Luca', 'Rossini', 'rossinil@mcmaster.ca', 'Male', 'Canada'),
    (3783, '2002-07-01', 'Fatima', 'Khan', 'khanfa@mcmaster.ca', 'Female', 'Pakistan'),
    (4014, '2001-09-02', 'Ayna', 'Ivanova', 'ivanovaa@mcmaster.ca', 'Female', 'Russia'),
    (4248, '2002-05-17', 'Raj', 'Patel', 'patelra@mcmaster.ca', 'Male', 'India'),
    (4485, '2001-03-08', 'Sofia', 'Garcia', 'garcias@mcmaster.ca', 'Female', 'Spain'),
    (4725, '2001-02-03', 'Mei Ling', 'Zhang', 'zhangml@mcmaster.ca', 'Female', 'China'),
    (5648, '2000-08-29', 'Andrew', 'Penn', 'Penna@mcmaster.ca', 'Male', 'Canada')

In [ ]:
%%sql

INSERT INTO INSTRUCTORS(Instructor_code, Instructor_First_Name, Instructor_Last_Name, Instructor_Area, Instructor_School, Instructor_email) VALUES
    (303, 'Aisha', 'Ahmed', 'Marketing', 'Business', 'ahmeda@mcmaster.ca'),
    (306, 'Johan', 'Verneulen', 'Information systems', 'Business', 'vermeulenj@mcmaster.ca'),
    (309, 'Emma', 'Li', 'Finance', 'Economy', 'Liem34@mcmaster.ca'),
    (312, 'Elena', 'Silva', 'Strategic Management', 'Business', 'silvae@mcmaster.ca')

In [ ]:
%%sql

INSERT INTO COURSES(Course_Code, Course_Name, Course_Offering, Instructor_Code) VALUES
    (10001, 'Human Resource Management', 'First Semester', 303),
    (10002, 'Operational Management', 'First Semester', 303),
    (10003, 'Business Analytics', 'First Semester', 306),
    (10004, 'Accounting', 'First Semester', 309),
    (10005, 'Financial Management', 'Second Semester', 309),
    (10006, 'Strategic Management', 'Second Semester', 312),
    (10007, 'Digital Transformation', 'Second Semester', 306),
    (10008, 'Data mining', 'Second Semester', 306),
    (10009, 'Business Consulting', 'Third Semester', 312),
    (10010, 'Negotiation', 'Third Semester', 312),
    (10011, 'Marketing Management', 'Third Semester', 303),
    (10012, 'Project Management', 'Third Semester', 312),
    (10013, 'Health Management', 'Fourth Semester', 303),
    (10014, 'Economics', 'Fourth Semester', 309),
    (10015, 'AI in Business', 'Fourth Semester', 306)

In [ ]:
%%sql

INSERT INTO GRADES(Student_ID, Course_Code, Course_Grade) VALUES
    (5648, 10002, 90.1),
    (3783, 10004, 63.5),
    (4248, 10003, 74.6),
    (4014, 10008, 75.8),
    (3330, 10013, 75.9),
    (3555, 10010, 80.6),
    (4014, 10011, 60.5),
    (3783, 10015, 94.3),
    (3783, 10008, 67.8),
    (4725, 10004, 89.1),
    (4725, 10009, 85.6),
    (3783, 10014, 67.8),
    (2889, 10003, 65.9),
    (4485, 10007, 79.2),
    (4248, 10010, 92.3),
    (4725, 10013, 63.1),
    (2673, 10012, 89.6),
    (3783, 10009, 81.7),
    (4725, 10010, 64.4),
    (2889, 10002, 83.3),
    (3330, 10014, 84.1),
    (3330, 10002, 61.3),
    (4014, 10012, 78.6),
    (3555, 10009, 65.9),
    (3108, 10004, 82),
    (4248, 10005, 85.4),
    (2889, 10013, 58.1),
    (3555, 10015, 67.3),
    (4014, 10009, 72.5),
    (4725, 10014, 71.4),
    (3108, 10002, 77.4),
    (4014, 10001, 66.9),
    (4485, 10010, 67.2),
    (2673, 10014, 76.9),
    (5648, 10012, 83.4),
    (4248, 10002, 58.6),
    (3783, 10010, 77.3),
    (3108, 10012, 57.2),
    (5648, 10013, 63.1),
    (2673, 10011, 85.8),
    (5648, 10006, 88.8),
    (3108, 10008, 75.1),
    (5648, 10007, 85),
    (4725, 10001, 60.8),
    (2673, 10002, 88.4),
    (4248, 10001, 72.2),
    (4248, 10014, 86.4),
    (3330, 10009, 85.1),
    (3108, 10007, 88),
    (4485, 10005, 85.8),
    (4485, 10012, 94.1),
    (3330, 10006, 76.4),
    (3108, 10014, 90.3),
    (2673, 10013, 93.3),
    (5648, 10004, 82.4),
    (4014, 10006, 66.2),
    (5648, 10014, 71.4),
    (4485, 10011, 77.6),
    (2889, 10011, 78.2),
    (4725, 10015, 62.1),
    (2889, 10007, 88.8),
    (2673, 10008, 89),
    (3555, 10011, 59.2),
    (3555, 10013, 87.6)

## Task 6) Structured Queries (80%)

### Task6_1)	List the student name (first and last), birthdate, email, and gender of Canadian students (2%)

In [ ]:
%%sql

SELECT <complete the code>
FROM STUDENTS
WHERE <complete the code>

### Task6_2)	List the countries from which students are coming (3%)

In [ ]:
%%sql

SELECT <complete the code> <complete the code> FROM STUDENTS

### Task6_3)	How many courses are offered in the second semester? (5%)

In [ ]:
%%sql
SELECT <complete the code> 
    FROM COURSES
WHERE <complete the code>

### Task6_4)	Which instructors (instructor first and last name and email) are teaching in the third semester? (7.5%)

In [ ]:
%%sql

SELECT <complete the code>
FROM INSTRUCTORS I1
WHERE I1.<complete the code> IN (SELECT C1.<complete the code> 
                          FROM COURSES 
                          WHERE <complete the code>)

### Task6_5) Which students (Student first and last name and email) have been thought by instructor(s) from School of economy? (10%)

In [ ]:
%%sql
SELECT  <complete the code> FROM STUDENTS S1
    WHERE S1.<complete the code> IN (
        SELECT G1.<complete the code> FROM GRADES G1
            WHERE G1.<complete the code> IN (
                SELECT C1.<complete the code> FROM COURSES C1
                    WHERE C1.<complete the code> IN (
                        SELECT I1.<complete the code> FROM Instructors I1
                            WHERE I1.<complete the code> = "Economy"
                    )
            )
    )

### Task6_6) .Which students (Student first and last name and email) received grades greater than 90%? What grade did they receive? (10%)

In [ ]:
%%sql

SELECT  
    (SELECT <complete the code> FROM STUDENTS S1 WHERE S1.STUDENT_ID = G1.STUDENT_ID) Student_First_Name,
    (<complete the code>) Student_Last_Name,
    (<complete the code>) Student_email,
    Course_Grade
FROM GRADES G1
WHERE <complete the code>

### Task6_7) Which students (Student first and last name and email) received grades between 75 and 85 in Project Management? What grades did they receive? (12.5%)

In [ ]:
%%sql
SELECT  
    (<complete the code>) Student_First_Name,
    (<complete the code>) Student_Last_Name,
    (<complete the code>) Student_email,
    Course_Grade
FROM GRADES G1
WHERE Course_Grade <complete the code> AND Course_Code IN (<complete the code>)

### Task6_8) List courses (course code, course name, and average grade) in which the average grades were higher than 80. (10%)

In [ ]:
%%sql
SELECT 
    course_Code, 
    (<complete the code>) Course_Name,
    <complete the code> Average_Grade 
FROM GRADES G1
GROUP BY course_Code <complete the code> AVG(Course_Grade)>80

### Task6_9) What are the average grades of Male and Female students in all courses? (10%)

In [ ]:
%%sql

SELECT  
     <complete the code> Student_Gender,
     AVG(Course_Grade)
FROM GRADES G1
GROUP BY <complete the code>

### Task6_10) What are the average grades of different instructors? (10%)

In [ ]:
%%sql

<complete the code>